.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: #fff;
  color: #00bcd4;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 300ms ease-in-out;
  border-radius: 2px;
}

.custom-next-arrow {
  right: 8px;
}

.custom-prev-arrow {
  left: 8px;
}

.view-slider-sc {
  .containers {
    @apply relative after:absolute after:-top-2 after:-bottom-2 after:-right-2 after:-left-2 after:bg-white py-2 px-2 rounded-2xl overflow-hidden;
    .slick-slider {
      @apply z-10;
    }
  }
  .custom-prev-arrow,
  .custom-next-arrow {
    background-color: #fff;
    color: #00bcd4;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 300ms ease-in-out;
    border-radius: 2px;
  }
}

.hero-banner-slider {
  .custom-prev-arrow,
  .custom-next-arrow {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 40px;
    padding: 5px;

    &:hover{
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
